:root {
  /* Base color */
  --eme-color-white-1: #ffffff;
  --eme-color-white-2: #ffffff0d;
  --eme-color-white-3: #ffffff40;
  --eme-color-black: #000000;
  --eme-color-light-gray: #c2c2c2;

  /* Gradient test */
  /* background: linear-gradient(45deg, #DAA520, #FFD700, #FFC300, #FFEC8B);
  background: linear-gradient(45deg, #C0C0C0, #D3D3D3, #A9A9A9, #F5F5F5); */

  /* Theme */
 --eme-color-light: #ffffff;   /*  crazdog-color #f0e7db */
  --eme-color-dark: #000000;  /*  crazdog-color #202023 */

  --eme-footer-light-color: #332f2c;

  /* New theme */

  /* light */
  /* #9f9f9f */
  /* dark */
  /* #242424 */
  --eme-color-font-light: #ffffff; 
  --eme-color-font-dark: #000000;

  --eme-color-card-light: #f9f9f9;
  --eme-color-card-dark: #242424;

  --eme-color-nav-light: #f9f9f9;
}
