.eme-dark {
  background-color: var(--eme-color-dark);
  color: var(--eme-color-light);
}

.eme-light {
  background-color: var(--eme-color-light);
  color: var(--eme-color-black);
}

.eme-nav-light {
  /* background: rgba(249, 249, 249, 0.8); */
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.eme-nav-dark {
  backdrop-filter: blur(1rem);
}

.eme-content-dark {
  background-color: var(--eme-color-card-dark);
}

.eme-content-light {
  background-color: var(--eme-color-card-light);
}

.eme-footer-light {
  background-color: var(--eme-color-light);
}

.eme-footer-dark {
  background-color: var(--eme-color-dark);
}